<!DOCTYPE html>
<html lang="en">
  <head>
      <title>About us | Aberdeen University Filmmaking Society - AUFS</title>
      <meta property="og:title" content="About us">
      <meta name="description" content="Aberdeen University Filmmaking Society is a place for its members to learn filmmaking (by making films) while having fun and acquiring valuable skills.">
      <meta property="og:description" content="Aberdeen University Filmmaking Society is a place for its members to learn filmmaking (by making films) while having fun and acquiring valuable skills.">
      <meta property="og:url" content="<%= process.env.URL_START %>/about"/>
      <meta property="og:type" content="article"/>
      <meta property="og:image" content="<%= process.env.URL_START %>/images/cover.jpg">

 <%- include partials/head.ejs %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

  </head>
  <body>

    <%- include partials/header.ejs %>
    <main>
    <section>
      <style>
        a[data-fancybox] img{
          object-fit:cover;
          width:100%;
          height:100%;
        }
        .fancybox-bg{
          background-color:rgba(0,0,0,0.8)
        }
        .img1{
          float:left;
          margin-right:12px;
          width:210px;
          height:262.5px;
          margin-bottom:6px;
        }
        .img2container{
          float:right;
          height:100px;
          margin-bottom:6px;
          margin-left:12px;
        }
        .aboutsection{
    display: block;
    margin-bottom:24px;clear:both;overflow:auto;
  }
  .img4{
    width:256px;
    height:144px;
    float:left;
    margin-right:12px;
    margin-top:18px;
  }
  .img4 img{
    width:256px;
    height:144px;
  }
@media screen and (max-width: 450px){
  .img4{
    width:100%;
    margin-bottom:12px;
    margin-right:0px;
  }
  .img4 img{
    width:100%;
  }
}
@media screen and (max-width: 400px){
  .img1{
    width:100%;
    height:200px;
  }
  .img1 img{
    object-position: top;
  }
}
@media screen and (max-width: 350px){
  .img2container{
    float:none;
    margin-left:0;
  }
}
      </style>
        <h1 class="pagetitle" style="margin-bottom:6px">About Us</h1>
        <p style="color:white;">AUFS is a place for its members to:</p>
        <div class="clearfix">
            <a class="img1" data-fancybox="images" data-fancybox-index="1" href="/images/about/1.jpg" style=""><img src="/images/about/1.jpg"></a>
            <h3 style="margin-top:0px;">Learn filmmaking (by making films)</h3>
        <p>We offer access to equipment, hold workshops, organize film challenges, and above all offer an opportunity for students to meet and share skills with each other.</p>
        
                <p>Every term, we form small groups which each aim to create a short film: actually getting out there and shooting is the best way to learn about filmmaking.</p>
                <div class="img2container">
                    <a data-fancybox="images" href="/images/about/3.jpg" style="height:100px;width:100px;"><img style="width:100px;" src="/images/about/3.jpg"></a>
                    <a data-fancybox="images" href="/images/about/2.jpg" style="height:100px;width:100px;margin-left:6px;"><img style="width:100px;" src="/images/about/2.jpg"></a>
    
                </div>

        <p>Because we seperate into smaller groups, you're able to work on a film no matter how much experience you have, or how much time and effort you're willing to spend filmmaking. Some projects have been year-long productions which have been accepted into film festivals, while others are just fun projects done over a few weeks</p>
       
      </div>
        <div class="clearfix">
            <h3>Have fun</h3>
            <p>During the year we arrange various socials, ranging from pub/flat crawls to cinema outings. We also spend a weekend in late February at the Glasgow Film Festival.</p>
            <p>In 20 years of existence, a countless number of life-long friendships (and even marriages) started in AUFS meetings and events. Nothing gets people closer together than the stress and fun of making a film!</p>    
          </div>
  <div class="clearfix">
      <a data-fancybox="images" class="img4" href="/images/about/4.jpg"><img src="/images/about/4.jpg"></a>

            <h3>Get into the film industry</h3>

            <p>It's no secret that the film industry is extremely competitive and can be difficult to get into. Although not all our members wish to work in it, AUFS can serve as an extremely favourable place to train and acquire skills, network with society alumni, go on trips to networking events, and especially meet like-minded people.</p>
          </div>
          <div class="aboutsection">
              <div class="pagetitle" style="margin-bottom:6px">History &amp; Awards</div>
              <a data-fancybox="images"  href="/images/about/5.jpg" style="width:128px;height:103.3px;float:right;margin-left:12px;"><img style="width:128px;height:103.3px;" src="/images/about/5.jpg"></a>

              <p>AUFS was founded in January 2000 by Euan Mackenzie. How and why did he found it? <a href="/about/founder">Nobody could explain better than him</a>, but in short he had a simple aim: set up a society which makes good films, and where people have fun and learn along the way.</p>
              <a data-fancybox="images"  href="/images/about/7.jpg" style="width:132px;height:103px;float:left;margin-right:12px;"><img style="width:132px;height:103px;" src="/images/about/7.jpg"></a>
              <p>In January 2020, we celebrated the 20 year anniversary of the society!</p>
              <p>The society has had its ups and downs, gone through a couple of rebrandings and quite a few recording formats (everything from tapes to sd cards), but the core spirit of the society remains the same: <b> help people make short films, have fun, and learn useful skills.</b></p>
              <p>In the process AUFS has received several awards and signs of recognition:</p>
              <ul>
                <li><b>2013:</b> AUSA Alison Johnston Award</li>
                <li><b>2014:</b> AUSA Most Accessible Society Award</li>
                <li><b>2019:</b> Nominated for the National Societies Awards as Best Arts Society</li>
              </ul>
             
  
          </div>


        <% if(locals.committee && locals.committee.length) { %>
          <%
          var committee_selected = locals.committee[0];
          var committee_selected_index = 0;

          let previousCommitteeURL = undefined;
          let nextCommitteeURL = undefined;

          console.log(locals.committeeQuery);
          if(locals.committeeQuery){
            for (let i = 0; i < locals.committee.length; i++) {
              if(locals.committeeQuery == locals.committee[i].name){
                committee_selected = locals.committee[i];
                committee_selected_index = i;
                first_committee = (i == locals.committee.length-1);
                last_committee = (i == 0);
                break;
              }
            }
          }

          if(locals.committee[committee_selected_index-1]){
            nextCommitteeURL = encodeURIComponent(locals.committee[committee_selected_index-1].name);
          }
          if(locals.committee[committee_selected_index+1]){
            previousCommitteeURL = encodeURIComponent(locals.committee[committee_selected_index+1].name);
          }


          %>
          <div>
            
            <div class="pagetitle" style="margin-bottom:6px;text-align: center;margin:auto;">
              <a id="committee-prev" onclick="previousCommittee(event);" class="com-btn com-btn-prev <% if(!previousCommitteeURL) { %>disabled<% } %>" <% if(previousCommitteeURL) { %>href="?committee=<%- previousCommitteeURL %>"<% } %>><img src="/images/chevron.svg"/></a><span id="committee-name"><%= committee_selected.name %></span><a id="committee-next" onclick="nextCommittee(event);" class="com-btn com-btn-next <% if(!nextCommitteeURL) { %>disabled<% } %>" <% if(nextCommitteeURL) { %>href="?committee=<%- nextCommitteeURL %>"<% } %>><img src="/images/chevron.svg"/></a></div>
          </div>
          <% if(committee_selected.subtitle) { %>
          <div id="committee-subtitle"><%= committee_selected.subtitle %></div>
          <% } else { %>
          <div id="committee-subtitle" style="user-select: none;">&nbsp;</div>
          <% } %> 
          <style>
            #committee-subtitle{
              text-align: center;
              opacity: 0.6;
            }
            .com-btn{
              width:12px;
              display:inline-block;
              margin-top:4px;
              transform: translateY(2px);
              opacity:0.6;
              transition: all 0.2s;
              user-select:none;
              cursor: pointer;
            }
            .com-btn.disabled{
              opacity:0.1;
              pointer-events: none;
            }
            .com-btn:hover{
              opacity:0.8;
            }
            .com-btn:active{
              opacity:1;
            }
            .com-btn-prev{
              margin-right:12px;
            }
            .com-btn-prev img{
              transform: rotate(180deg);
            }
            .com-btn-next{
              margin-left:12px;
            }
            .com-list{
              display:flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
            }
            @supports (-ms-flow-from: thingy){
              .com-list{
                justify-content: space-around;
              }
            }
            .com-member{
              position:relative;
            }
            main img{
              box-shadow: 0px 0px 24px rgba(0,0,0,0.2);
            }
            .com-memberavatar{
              margin:auto;
              display: block;
              width: 96px;
              height: 96px;
              border-radius: 50%;
              object-fit: cover;
            }
            
            .com-title{
              margin-top:12px;
              font-weight: bold;
              text-align:center;
              font-size:16px;
            }
            .com-member{
              margin:16px;
              flex-basis:26%;
            }
            .com-fullwidth{
              flex-basis: 100%;
            }
            .com-name{
              text-align:center;
              color:rgba(255,255,255,0.5);
            }
            @media screen and (max-width: 600px){
              .com-memberavatar{
                width:74px;
                height:74px;
              }
              .com-title{
                font-size:14px;
              }
              .com-name{
                font-size:12px;
              }
            }
            @media screen and (max-width: 400px){
              .com-member{
                flex-basis:100%;
                margin: 6px 0px;
              }
              .com-memberavatar{
                width:48px;
                height:48px;
                margin-left:0;
              }
              .com-title{
                position:absolute;
                left:64px;
                top:0px;
                text-align: left;
              }
              .com-name{
                position:absolute;
                text-align: left;
                left:64px;
                top:28px;
              }
            }
          </style>
          <div id="committee-list" class="com-list">
              <% committee_selected.members.forEach(member=>{ %>
                <div class="com-member <% if(member.position && member.position.toLowerCase() == 'president') { %>com-fullwidth<% } %>">
                  <img class="com-memberavatar" src="<%= (member.image || "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=") %>">
                  <div class="com-title"><%= member.position %></div>
                  <div class="com-name"><%= member.name %></div>
                </div>
              <% }); %>
          </div>
          <script>
            let all_committees = JSON.parse(`<%- JSON.stringify(locals.committee) %>`);
            let committee_selected_index = JSON.parse(`<%- JSON.stringify({index: committee_selected_index}) %>`).index;

            function previousCommittee(e){
              e.preventDefault();
              if(all_committees[committee_selected_index+1]){
                committee_selected_index++;
                selectCommittee();
              }
              return false;
            }
            function nextCommittee(e){
              e.preventDefault();
              if(all_committees[committee_selected_index-1]){
                committee_selected_index--;
                selectCommittee();
              }
              return false;
            }

            function selectCommittee(){

              if (history.replaceState) {
                  var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?committee='+encodeURIComponent(all_committees[committee_selected_index].name);
                  window.history.replaceState({path:newurl},'',newurl);
              }

              $("#committee-name").text(all_committees[committee_selected_index].name);
              if(all_committees[committee_selected_index].subtitle)
                $("#committee-subtitle").text(all_committees[committee_selected_index].subtitle).attr('style', '');
              else{
                $("#committee-subtitle").html("&nbsp;").attr('style',"user-select:none;");
              }
              $("#committee-list").empty();
              all_committees[committee_selected_index];
              for (let i = 0; i < all_committees[committee_selected_index].members.length; i++) {
                const member = all_committees[committee_selected_index].members[i];
                let classes = "com-member";
                console.log(member);
                if(member.position && member.position.toLowerCase().trim()=="president"){
                  classes = "com-member com-fullwidth";
                }
                $("#committee-list").append(
                  `<div class="${classes}">
                    <img class="com-memberavatar" src="${(member.image || "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=")}">
                    <div class="com-title">${member.position}</div>
                    <div class="com-name">${member.name}</div>
                  </div>`
                );
              }
              if(all_committees[committee_selected_index-1]){
                $("#committee-next").removeClass('disabled');
                $("#committee-next").attr('href', "?committee=" + encodeURIComponent(all_committees[committee_selected_index-1].name));
              }      
              else{
                $("#committee-next").addClass('disabled');
                $("#committee-next").attr('href', "");
              }
 
              if(all_committees[committee_selected_index+1]){
                $("#committee-prev").removeClass('disabled');
                $("#committee-next").attr('href', "?committee=" + encodeURIComponent(all_committees[committee_selected_index+1].name));
              }
              else{
                $("#committee-prev").addClass('disabled');
                $("#committee-next").attr('href', "");
              }
            }
          </script>
        <% } %>
        
      </section>
    <section>
        <div class="pagetitle" style="margin-bottom:6px;text-align: center;">Useful links</div>
        <style>
        .linkboxes{
          display: flex;
          flex-wrap:wrap;
          justify-content: center;
        }
        .linkboxes > a{
          text-decoration: none;
          display: block;
          flex-basis: 96px;
          text-align: center;
          padding: 12px;
        }
        .linkboxes > a .icon{
          font-size:36px;
          opacity:0.8;
          transition:all 0.2s;
        }
        .linkboxes > a:hover .icon{
          transform: scale(1.05);
          opacity:1;
        }
        .linkboxes > a:active .icon{
          transform: scale(1.1);
          opacity:1;
        }
        .linkboxes > a span{
          display: block;
          margin-top:12px;
          opacity:0.6;
          transition:all 0.2s;
        }
        .linkboxes > a:hover span{
          transform: translateY(4px);
          opacity:0.8;
        }
        .linkboxes > a:active span{
          transform: translateY(6px);
          opacity:0.8;
        }
        </style>
        <div class="linkboxes">
            <a href="https://www.ausa.org.uk/societies/society/cinergi/">
              <img class="icon" src="/images/ausa.svg" style="height: 48px;margin-top: -6px;margin-bottom: -6px;box-shadow:none;">
              <span>Page on AUSA</span>
            </a>
          <a href="/about/constitution">
            <i class="icon fas fa-scroll"></i>
            <span>Constitution</span>
          </a>
          <a href="/vote">
            <i class="icon fas fa-vote-yea"></i>
            <span>Voting page</span>
          </a>
          <a href="/results">
            <i class="icon fas fa-poll-h"></i>
            <span>Vote results</span>
          </a>
        </div><br>
        <div class="linkboxes">
            <a href="/admin">
              <i class="icon fas fa-users-cog"></i>
              <span>Admin panel</span>
            </a>
          <a href="https://github.com/aberdeen-university-filmmaking-society/website">
            <i class="icon fas fa-file-code"></i>
            <span>Source code</span>
          </a>
        </div>
    </section>
  </main>
    <%- include partials/footer.ejs %>
  </body>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</html>