<!DOCTYPE html>
<html lang="en">
  <head>
        <title><%= audition.title %> | AUFS</title>
        <meta property="og:title" content="<%= audition.title %>">
        <meta property="og:image" content="<% if(film.poster) { %><%= process.env.URL_START + film.poster.thumb %><% } else if(film.youtubethumbnail) { %>https://i.ytimg.com/vi/<%= film.youtubethumbnail %>/mqdefault.jpg<% } %>">
     <!--   <script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>-->
        <%- include partials/head.ejs %>
    <link rel='stylesheet' href='/stylesheets/niceselect.css' />
    <link rel='stylesheet' href='/stylesheets/inputs.css' />
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  </head>
  <body>
    <style>

    </style>
    <%- include partials/header.ejs %>
    <% if(film.css) { %>
    <style>
    <%- film.css %>
    </style>
    <% } %>
    <main>
        <section>
            
            <h1 class="articletitle" style="margin-top:24px;font-weight:normal;margin-bottom:0px;"><%= audition.title %></h1>
            <% if(audition.end) { %>
            <div id="countdown" style="margin-bottom:24px;margin-top:0px;font-size:16px;opacity:0.5;">&nbsp;</div>
            <script>
            var endDate="<%=audition.end%>";
            var offset = 0;
            function getTimeRemaining(endtime) {
            var t = (new Date(endtime)).getTime() - (new Date().getTime()-offset);
            var totalseconds = t/1000;
            var seconds = Math.floor((t / 1000) % 60);
            var timecode = Math.floor((t % 1000)/41.67);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            return {
                'totalseconds':totalseconds,
                'total': t,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds,
                'timecode': timecode
            };
        }
        function countdown(){
            var t = getTimeRemaining(endDate);
                var days = "";
                var hours = "";
                var minutes = "";
                var seconds = "";
                if(t.totalseconds>=86400){
                    if(t.days==1){
                        days = "1 day<br>";
                    }
                    else{
                        days = t.days +" days<br>";
                    }
                }
                    
                if(t.totalseconds>=3600)
                    hours = ('0' + t.hours).slice(-2);
                if(t.totalseconds>=60)
                    minutes = ('0' + t.minutes).slice(-2);
                t.seconds = ('0' + t.seconds).slice(-2);
                
                if(t.totalseconds<=0){
                    $("#countdown").text("Applications have ended! Please submit yours as fast as possible, although we cannot guarantee it shall be considered.");
                }
                else if(t.totalseconds<60)
                    $("#countdown").text(`Applications end in ${t.seconds} seconds`);
                else if(t.totalseconds<3600)
                    $("#countdown").text(`Applications end in ${t.minutes} minutes ${t.seconds} seconds`);
                else {
                    var date1 = new Date();
                    var date1_tomorrow = new Date(date1.getFullYear(), date1.getMonth(), date1.getDate() + 1);
                    var date2 = new Date(endDate);
                    if (date1_tomorrow.getFullYear() == date2.getFullYear() && date1_tomorrow.getMonth() == date2.getMonth() && date1_tomorrow.getDate() == date2.getDate()) {
                        $("#countdown").text(`Applications end tomorrow at ${('0' + date2.getHours()).slice(-2)}:${('0' + date2.getMinutes()).slice(-2)}`);
                    }
                    else if (date1.getFullYear() == date2.getFullYear() && date1.getMonth() == date2.getMonth() && date1.getDate() == date2.getDate()) {
                        $("#countdown").text(`Applications end today at ${('0' + date2.getHours()).slice(-2)}:${('0' + date2.getMinutes()).slice(-2)}`);
                    }
                    else{
                        $("#countdown").text(`Applications end on ${('0' + date2.getDate()).slice(-2)}/${('0' + (date2.getMonth()+1)).slice(-2)} at ${('0' + date2.getHours()).slice(-2)}:${('0' + date2.getMinutes()).slice(-2)}`);
                    }
                }
        }
        countdown();
            var x = setInterval(function() {
               countdown();
            },1000);
            </script>
            <% } %>
            <% if(audition.description) { %>
            <p><%- audition.description %></p>
            <form id="mainform" data-parsley-validate="" method="POST" action="/audition/<%= audition.id %>">
                <div id="fb-render"></div>
                <div id="myScheduler">

                </div>
                <% if(audition.thirdparties) { %>
                <p class="disclaimer">By signing up, you accept that AUFS will keep this information until the casting process of <span style="color:white;"><%= film.title %></span> is over, and that it shall be shared with
                    <span style="color:white;"><%= audition.thirdparties %></span>
                    in order to aid with the casting process. It will not be shared with any other third-party, and shall be permanently deleted once the casting process is over.</p>
                <% } else { %>
                <p class="disclaimer">By signing up, you accept that AUFS will keep this information until the casting process of <span style="color:white;"><%= film.title %></span> is over. It will not be shared with any other third-party, and shall be permanently deleted once the casting process is over.</p>
                <% } %>
                <input type="submit" class="auditionbtn" value="SEND">
            </form>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
            <script src="/javascripts/parsley.min.js"></script>
            <script>
              var fbRender = document.getElementById('fb-render'),
                  formData = `<%- audition.form %>`;
              var formRenderOpts = {
                formData
              };
              frInstance = $(fbRender).formRender(formRenderOpts);
              $(function () {
                $('#mainform').parsley().on('field:validated', function() {
                  var ok = $('.parsley-error').length === 0;
                  $('.bs-callout-info').toggleClass('hidden', !ok);
                  $('.bs-callout-warning').toggleClass('hidden', ok);
                })
                .on('form:submit', function() {
                  return true; // Don't submit form for this demo
                });
              });
            </script>
            <% } %>
        </section>
    </main>
        <%- include partials/footer.ejs %>
  </body>
</html>