<!DOCTYPE html>
<html lang="en">
  <head>
      <title>AUFS Productions</title>
      <meta property="og:title" content="AUFS Productions">
  
      <meta name="description" content="AUFS Productions is a branch of the society dedicated to producing a single high quality film over the entire year, in a more serious and intensive environment.">
      <meta property="og:description" content="AUFS Productions is a branch of the society dedicated to producing a single high quality film over the entire year, in a more serious and intensive environment.">
  
      <meta property="og:type" content="website" />
      <meta property="og:image" content="<%= process.env.URL_START %>/images/productionscover.jpg">
      <meta property="og:url" content="<%= process.env.URL_START %>/productions"/>
    <%- include partials/head.ejs %>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  </head>
  <body>
      <style>
          .timeline{
            margin-top:24px;
            margin-bottom: 24px;
            position:relative;
            display:inline-block;
            width:50%;
          }
        .leftsection{
          position: absolute;
          height:100%;
          width:11ch;
          border-right: solid 2px rgb(87, 125, 164);
        }
        .timelinecontainer{
          display:flex;
          align-items: center;
          flex-wrap: wrap-reverse;
        }

        .timelineindicator{
          position:absolute;
          bottom:0;
          width:2px;
          right:-2px;
          background-color:white;
        }
        .leftsection .date{
          font-size:12px;
          position: absolute;
          text-align: right;
          right:12px;
          color:rgb(142, 167, 193);
          height: 0px;
        }
        .leftsection .datetext{
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .leftsection .date.past{
          color:rgb(87, 125, 164);
        }
        .leftsection .date::after{
          content:"";
          position:absolute;
          width:12px;
          right:-19px;
          height:1px;
          top:0px;
          background-color:white;
        }
        .leftsection .date.past::after{
          background-color:rgb(87, 125, 164);
        }
        .rightsection{
          display: inline-block;
          position: absolute;
          left:11ch;
          width:calc(100% - 11ch);
          height:100%;
        }
        .rightsection .event{
          position: absolute;
          text-align: left;
          left:12px;
          font-weight: 500;
          font-size:14px;
          height:0px;
        }
        .rightsection .eventtext{
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .rightsection .event.past{
          color: rgb(87, 125, 164);
        }

        .anticipationtext{
          font-size:15px;
          margin-top:12px;
          font-style: italic;
          max-width:45%;
          min-width:200px;
          align-self:stretch;
        }
        @media only screen and (max-width: 500px){
          .timeline{
            width: 100%;
          }
          .anticipationtext{
            max-width: 100%;
          }
          .anticipationtext>div{
            margin-top:0 !important;
          }
        }
        .film-poster{
          overflow: hidden;
        }
        .film-poster img{
          transition:all 0.2s;
        }
        .film-description{
          transition:all 0.2s;
        }
        h1{
          font-size:21px;
          color:white;
        }
        </style>
      <%- include partials/header.ejs %>
      <main>
      <section>
            <div style="font-size: 32px;font-weight: 600;margin-top: 24px;text-align: center;">AUFS PRODUCTIONS</div>
            <div style="text-align: center;color:rgba(255,255,255,0.6)"><%- body.current.description %></div>
            <h1 style="margin-top:24px;"><%- body.current.yearname %></h1>
            <div style="color:rgba(255,255,255,0.6)"><%- body.current.roadmap %></div>
            
            <% if(body.current.timeline.length>=2) {
                var firstdate = body.current.timeline[0].date 
                var currentdate = Date.now();
                var timeSpan = body.current.timeline[body.current.timeline.length-1].date - firstdate;
                var monthheight = body.current.monthheight;
                var heightmultiplier = monthheight/2592000000;
                var timelineheight = heightmultiplier*timeSpan;
                function getDatePosition(date){
                  return (date-firstdate)*heightmultiplier;
                }

                var timelineindicatorHeight = (body.current.timeline[body.current.timeline.length-1].date - currentdate) * heightmultiplier;
                if(timelineindicatorHeight<=0) timelineindicatorHeight = 0;
                if(timelineindicatorHeight>=timelineheight) timelineindicatorHeight=timelineheight;

                var currentAnticipation = "";
                for(var i in body.current.timeline){
                  if(body.current.timeline[i].date>currentdate){
                    if(i==0){
                      //first event hasn't occured yet
                      currentAnticipation = body.current.timeline[i].anticipation;
                    }
                    else{
                      currentAnticipation = body.current.timeline[i-1].anticipation;
                    }
                    break;
                  }
                }
            %>
            <div class="timelinecontainer">
                <div class="timeline" style="height:<%= timelineheight %>px;">

                    <div class="leftsection">
                        <div class="timelineindicator" style="height:<%= timelineindicatorHeight %>px;"></div>
                      <% } %>
                      <% body.current.timeline.forEach(event=>{ %>
                            <div class="date <% if(currentdate>event.date) { %>past<% } %>" style="top:<%= getDatePosition(event.date) %>px;"><div class="datetext"><%= new Date(event.date).toLocaleDateString("en-US", { month:'long', day:'numeric'}) %></div></div>
                      <% }); %>
                    </div>
                    <div class="rightsection">
                        <% body.current.timeline.forEach(event=>{ %>
                          <div class="event <% if(currentdate>event.date) { %>past<% } %>" style="top:<%= getDatePosition(event.date) %>px;"><div class="eventtext"><%= event.description %></div></div>
                        <% }); %>
                    </div>
                </div>
                <% if(currentAnticipation) { %>
                  <div class="anticipationtext" >
                    <div style="margin-top:<%= timelineheight-timelineindicatorHeight %>px">
                        <%- currentAnticipation %>
                    </div>

                  </div>
                  <% } %>
            </div>

      </section>
      <% if(locals.posts && locals.posts.length>0) { %>
      <section style="margin-top:24px;">
        <div style="margin-bottom:12px;font-size:18px;">Updates</div>
          <div class="posts-list">
              <% posts.forEach(post=>{ %>
              <a class="post-anchor" href="<% if (post.redirect) { %><%= post.redirect %><% } else { %>/posts/<%= post.id %><% } %>">
                  <div class="post-container">
                      <% if(post.image && post.image.thumb) { %>
                      <div class="post-imagecontainer">
                          <img class="post-image" src="<%= post.image.thumb %>" <% if(post.image.caption) { %>alt="<%= post.image.caption %>" title="<%= post.image.caption %>"<% } %>>
                      </div>
                      <% } %>
                  </div>
                  <div class="post-sidetext">
                          <div class="post-title"><%= post.title %></div>
                          <div class="post-subtitle"><%= post.subtitle %></div>
                          <div class="post-date"><%= post.details %></div>
                      </div>
              </a>
              <% }); %>
          </div>
       </section> 
       <% } %>
      <section class="mobilemargin-none">
            <div style="margin-top:42px;">
              <% if(pastprojects) { %>
              <% pastprojects.forEach(project=>{ %>
                <h1 style="margin-top:24px;margin-bottom:12px;" class="mobilemargin-left"><%= project.year %></h1>
                <div class="videodetails mobilemargin-left mobilemargin-right" style="margin-top:6px;margin-bottom:12px;">
                  <div class="film-poster" class="bts-pic-container" style="--aspectratio:2/1">
                    <img src="<% if(project.film.poster && project.film.poster.thumb) { %><%= project.film.poster.thumb %><% } else { %>/images/blankposter.png<% } %>">
                  </div>
                  <div class="film-title film-title-responsive <% if(!project.film.poster) {%>noposter<% } %>"><%= project.film.title %></div>
                  <div class="film-desc" style="display: flex;flex-direction: column;">
                      <div class="film-title"><%= project.film.title %></div>
                      <div class="film-description" style="margin-top:0px;"><%- project.film.description %></div>
                      <a class="mobilemargin-left link-viewall mobilemargin-left" style="margin:0;display:block;float:none;" href="/films/<%= project.film.slug %>">VIEW FILM PAGE&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                
                  </div>
                </div>

                <% if(project.film.behindthescenes && (project.film.behindthescenes.story!=undefined || (project.film.behindthescenes.pics && project.film.behindthescenes.pics.length>0))) { %>
                  <div class="film-bts-story mobilemargin-left mobilemargin-right"><%- project.film.behindthescenes.story %></div>
                  <% if(project.film.behindthescenes.pics && project.film.behindthescenes.pics.length>0) { %>
                    <div class="carousell mobilepadding-left gallery" style="filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.3));">
                                <% project.film.behindthescenes.pics.forEach(pic=>{ %>
                                    <a data-fancybox="gallery" href="<%= pic.full %>" <% if(pic.caption) { %>data-caption="<%= pic.caption %>" alt="<%= pic.caption %>" title="<%= pic.caption %>"<% } %> class="bts-pic-container"><img src="<%= pic.thumb %>"></a>
                                    <% }); %>
                                <% } %>
                    </div>
                  <% } %>

                <% }) %>

              <% } %>
            </div>
        </section>
      </main>
      <%- include partials/footer.ejs %>
      
  </body>
</html>