<!DOCTYPE html>
<html lang="en">
  <head>
        <title><%= film.title %> | AUFS</title>
        <meta property="og:title" content="<%= film.title %>">
        <meta property="description" content="<%= film.shortdesc %>">
        <meta property="og:description" content="<%= film.shortdesc %>"/>
        <meta property="og:type" content="video.movie"/>
        <% if(film.dateTimestamp) { %>
        <meta property="og:video:release_date" content="<%= new Date(film.dateTimestamp).toISOString(); %>">
        <% } %>
        <meta property="og:url" content="<%= process.env.URL_START %>/films/<%= film.slug %>"/>
        <meta property="og:image" content="<% if(film.poster) { %><%= process.env.URL_START + film.poster.thumb %><% } else if(film.youtubethumbnail) { %>https://i.ytimg.com/vi/<%= film.youtubethumbnail %>/mqdefault.jpg<% } %>">
    <%- include partials/head.ejs %>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  </head>
  <body>
    <style>
        .video{
            background-color:black;
            width:100%;
            margin-top:12px;
            margin-bottom:24px;
        }
        .video iframe{
            width: calc(100vw - (100vw - 100%)); 
            height: 56.25vw;
            max-width: 812px;
            max-height: 450px;
            margin:auto;
            display: block;
        }

        .film-credit{
            opacity:1;
        }
        .filmcredit-section{
            line-height: 20px;
        }
        .film-credited{
            opacity:0.5;
        }
        .carousell{
            margin-top:12px;
        }

        .tabs{
            margin-left:-12px;
            margin-bottom:-12px;
        }
        .tabs .tab{
            line-height: 32px;
            opacity:0.5;
            display:inline-block;
            font-size:12px;
            font-weight:500;
            margin:0 12px;
            text-decoration:none;
            transition: opacity 0.2s;
        }
        .tabs .tab:hover{
            opacity:0.6;
        }
        .tabs .tab.selected{
            border-bottom: white 2px solid;
            opacity:0.8;
            pointer-events: none;
            font-weight: bold;
            filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.8));
        }
    </style>
    <%- include partials/header.ejs %>
    <% if(film.css) { %>
    <style>
    <%- film.css %>
    </style>
    <% } %>
    <main>
        <% if(locals.authenticated) { %>
        <section class="admincontrols">
            ADMIN:&nbsp;<a href="/admin/films?edit=<%= film.id %>">Edit</a>
        </section>
        <% } %>
    <section class="videodetails">
            <% if(film.poster) { %>
            <a class="film-poster" data-fancybox="poster" href="<%= film.poster.full %>" class="bts-pic-container" <% if(film.poster.caption) { %>data-caption="<%= film.poster.caption %>" alt="<%= film.poster.caption %>" title="<%= film.poster.caption %>"<% } %>><img src="<%= film.poster.thumb %>"></a>
            <% } %>
            <div class="film-title film-title-responsive <% if(!film.poster) {%>noposter<% } %>"><%= film.title %><div class="film-date"><%= film.date %></div></div>
            <div class="film-desc">
                <h1 class="film-title"><%= film.title %><div class="film-date"><%= film.date %></div></h1>
                <div class="film-description"><%- film.description %></div>
                <div class="tags">
                <% tags.forEach(tag=>{ %><a href="/tags/<%= tag.tagid %>">#<%= tag.tagid %></a>&nbsp;<% }) %>
                </div>
                <div class="film-outlinks">
                    <%
                        function getLinkImage(url){
                            if(/(https?):\/\/(www.)?((facebook\.)|(fb\.)).*/.test(url))
                                return("/images/social/fb.svg");
                            else if(/(https?):\/\/(www.)?((instagram\.)|(instagr\.am\.)).*/.test(url))
                                return("/images/social/ig.svg");
                            else if(/(https?):\/\/(www.)?(imdb\.).*/.test(url))
                                return("/images/social/imdb.svg");
                            else if(/(https?):\/\/(www.)?((linkedin\.)|(linked\.in\.)).*/.test(url))
                                return("/images/social/li.svg");
                            else if(/(https?):\/\/(www.)?(snapchat\.).*/.test(url))
                                return("/images/social/sp.svg");
                            else if(/(https?):\/\/(www.)?((twitter\.)|(t\.co)).*/.test(url))
                                return("/images/social/tw.svg");
                            else if(/(https?):\/\/(www.)?((youtube\.)|(youtu\.be)).*/.test(url))
                                return("/images/social/yt.svg");
                            else return ("/images/social/internet_white.svg");
                        }
                        if(film.links) {
                        film.links = JSON.parse(film.links);
                        for (let i = 0; i < film.links.length; i++) { %>
                        <a class="film-outlink" href="<%= film.links[i] %>">
                            <img src="<%= getLinkImage(film.links[i]) %>">
                        </a>
                    <% } } %>
                </div>
            </div>
        </section>
    <% if(film.youtubeid) { 
        function slugify(string) {
          const a = 'àáâäæãåāăąçćčđďèéêëēėęěğǵḧîïíīįìłḿñńǹňôöòóœøōõőṕŕřßśšşșťțûüùúūǘůűųẃẍÿýžźż·/_,:;';
          const b = 'aaaaaaaaaacccddeeeeeeeegghiiiiiilmnnnnoooooooooprrsssssttuuuuuuuuuwxyyzzz------';
          const p = new RegExp(a.split('').join('|'), 'g');

          return string.toString().toLowerCase()
            .replace(/\s+/g, '-') // Replace spaces with -
            .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
            .replace(/&/g, '-and-') // Replace & with 'and'
            .replace(/[^\w\-]+/g, '') // Remove all non-word characters
            .replace(/\-\-+/g, '-') // Replace multiple - with single -
            .replace(/^-+/, '') // Trim - from start of text
            .replace(/-+$/, ''); // Trim - from end of text
        }
        let multiplelinks = false;
        let youtubelinks = [];
        try{
            youtubelinks = JSON.parse(film.youtubeid);
            multiplelinks = true;
        }
        catch{ }
        let selectedvideoID = film.youtubeid;
        if(multiplelinks) { %>
            <section>
                <div id="videoselection" class="tabs">
                    <% for (let i = 0; i < youtubelinks.length; i++) {
                        let slug = slugify(youtubelinks[i][0]);
                        let link = `${process.env.URL_START}/films/${film.slug}?v=${slug}`;
                        if(i==0) 
                            link = `${process.env.URL_START}/films/${film.slug}`;
                        if((i == 0 && locals.selectedvideo == undefined) || (locals.selectedvideo==slug)) {
                            selectedvideoID = youtubelinks[i][1];
                        }
                        %>
                        <a class="tab <% if(( i == 0 && locals.selectedvideo == undefined) || (locals.selectedvideo==slug)) { %> selected <% } %>" data-id="<%=youtubelinks[i][1]%>" onclick="switchvideo('<%=youtubelinks[i][1]%>', '<%= link %>');return false;" href="<%= link %>"><%=youtubelinks[i][0]%></a>
                    <% } %>
                </div>
            </section>
        <% } %>
        <div class="video">
            <iframe id="videoframe" src="https://www.youtube.com/embed/<%=selectedvideoID%>?rel=0&modestbranding=1&color=white" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <script>
            function switchvideo(id, link){
                var ifr = document.getElementById("videoframe");
                ifr.contentWindow.location.replace(`https://www.youtube.com/embed/${id}?rel=0&modestbranding=1&color=white`); 

                $("#videoselection .tab").each(function(){
                    if($(this).attr("data-id") == id){
                        $(this).addClass("selected");
                    }
                    else{
                        $(this).removeClass("selected");
                    }
                });
                if(id==undefined) $($("#videoselection .tab")[0]).addClass("selected");
                if(link!=undefined){
                    history.replaceState("", "", link);
                }
            }
        </script>
    <% } %>
    <% if(film.awards){ %>
        <section>
            <h1 class="sectionheader" style="margin-top:0;text-align: center;">NOMINATIONS &amp; AWARDS</h1>
            <div class="awards">
                <% film.awards.forEach(award=>{ %>
                <img title="<%= award.caption %>" src="<%= award.full %>" alt="<% award.caption %>">
            <% }) %>
            </div>
        </section>
    <% } %>

    <% if(film.credits && Object.entries(film.credits).length > 0) { %>
    <section class="filmcredit-section" style="margin-bottom:12px;">
        <h1 class="sectionheader" style="margin-top:0">CREDITS</h1>
        <% for(var credit in film.credits) { %>
            <div><span class="film-credit"><%= credit %>:</span>&nbsp;<span class="film-credited"><%= film.credits[credit] %></span></div>
        <% } %>
    </section>
    <% } 
    console.log("behindthescenes: ");
    console.log(film.behindthescenes);
    %>
    <% if(film.behindthescenes && (film.behindthescenes.story!=undefined || (film.behindthescenes.pics && film.behindthescenes.pics.length>0))) { %>
        <section class="mobilemargin-none" style="margin-bottom:12px;">
            <h1 id="behindthescenes" class="sectionheader mobilemargin-left">BEHIND THE SCENES</h1>
            <div class="film-bts-story mobilemargin-left mobilemargin-right"><%- film.behindthescenes.story %></div>
            <% if(film.behindthescenes.pics && film.behindthescenes.pics.length>0) { %>
                <div class="carousell mobilepadding-left gallery" style="filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.3));">
                    <% film.behindthescenes.pics.forEach(pic=>{ %>
                        <a data-fancybox="gallery" href="<%= pic.full %>" <% if(pic.caption) { %>data-caption="<%= pic.caption %>" alt="<%= pic.caption %>" title="<%= pic.caption %>"<% } %> class="bts-pic-container"><img src="<%= pic.thumb %>"></a>
                        <% }); %>
                    <% } %>
                </div>
        </section>
        <% } %>
    <% if(film.techspecs && Object.entries(film.techspecs).length > 0) { %>
        <section class="filmcredit-section" style="margin-bottom:12px;">
            <h1 id="technicaldetails" class="sectionheader">TECHNICAL DETAILS</h1>
            <% for(var spec in film.techspecs) { %>
                <div><span class="film-credit"><%= spec %>:</span>&nbsp;<span class="film-credited"><%= film.techspecs[spec] %></span></div>
            <% } %>
        </section>
        <% } %>
    <% if(recommended && recommended.length && recommended.length>0) { %>
        <section class="mobilemargin-none recommendedfilms">
            <h1 id="recommended" class="sectionheader mobilemargin-left">RECOMMENDED</h1>
        <div class="carousell mobilepadding-left" style="margin-top:0px;">
                <% function formatDate(e){var r=e.getMonth(),t=e.getFullYear();return["January","February","March","April","May","June","July","August","September","October","November","December"][r]+" "+t} %>
                <% recommended.forEach(film=>{ %>
                  <a class="film-anchor" href="/films/<%= film.slug %>">
                      <div class="film-container">
                          <div class="film-imagecontainer">
                            <img class="film-image" src="<% if(film.youtubethumbnail) { %>https://i.ytimg.com/vi/<%= film.youtubethumbnail %>/mqdefault.jpg<% } else { %>/images/blankthumbnail.png<% } %>">
                          </div>
                          <div class="film-text">
                              <div class="film-title"><%= film.title %></div>
                              <div class="film-details"><%= formatDate(new Date(Number.parseInt(film.date))) %></div>
                          </div>
                        </div>
                   </a>
                <% }); %>
                 </a>
               </div>
            </section>
    <% } %>
    </main>
        <%- include partials/footer.ejs %>
  </body>
</html>