<!DOCTYPE html>
<html lang="en">
    <head>
          <title>2035 Welcome Pack | AUFS</title>
          <meta property="og:title" content="Welcome Pack">
          <%- include partials/head.ejs %>
      <script src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    </head>
    <body>
              <script>!function(E,H,x){var e="accordion",i={transitionSpeed:300,transitionEasing:"ease",controlElement:"[data-control]",contentElement:"[data-content]",groupElement:"[data-accordion-group]",singleOpen:!0};function n(t,n){this.element=t,this.options=E.extend({},i,n),this._defaults=i,this._name=e,this.init()}n.prototype.init=function(){var e,i,a,o,r=this.options,n=E(this.element),t=n.find("> "+r.controlElement),s=n.find("> "+r.contentElement),c=0<n.parents("[data-accordion]").length,d={"max-height":0,overflow:"hidden"},h=function(){var t=(x.body||x.documentElement).style,n="transition";if("string"==typeof t[n])return!0;var e=["Moz","webkit","Webkit","Khtml","O","ms"];n="Transition";for(var i=0;i<e.length;i++)if("string"==typeof t[e[i]+n])return!0;return!1}();function l(t,n){n?s.css({"-webkit-transition":"",transition:""}):s.css({"-webkit-transition":"max-height "+r.transitionSpeed+"ms "+r.transitionEasing,transition:"max-height "+r.transitionSpeed+"ms "+r.transitionEasing})}function f(t){var n=0;t.children().each(function(){n+=E(this).outerHeight(!0)}),t.data("oHeight",n)}function m(t,n,e,i){var a,o=t.filter(".open").find("> [data-content]"),s=o.find("[data-accordion].open > [data-content]");r.singleOpen||(s=s.not(n.siblings("[data-accordion].open").find("> [data-content]"))),a=o.add(s),t.hasClass("open")&&a.each(function(){var t=E(this).data("oHeight");switch(i){case"+":E(this).data("oHeight",t+e);break;case"-":E(this).data("oHeight",t-e);break;default:throw"updateParentHeight method needs an operation"}E(this).css("max-height",E(this).data("oHeight"))})}function u(t){if(t.hasClass("open")){var n=t.find("> [data-content]"),e=n.find("[data-accordion].open > [data-content]"),i=n.add(e);f(i),i.css("max-height",i.data("oHeight"))}}function g(t,n){if(t.trigger("accordion.close"),h){if(c)m(t.parents("[data-accordion]"),t,n.data("oHeight"),"-");n.css(d),t.removeClass("open")}else n.css("max-height",n.data("oHeight")),n.animate(d,r.transitionSpeed),t.removeClass("open")}function p(t,n){if(t.trigger("accordion.open"),h){if(l(),c)m(t.parents("[data-accordion]"),t,n.data("oHeight"),"+");!function(t){H.requestAnimationFrame?requestAnimationFrame(t):H.webkitRequestAnimationFrame?webkitRequestAnimationFrame(t):H.mozRequestAnimationFrame?mozRequestAnimationFrame(t):setTimeout(t,1e3/60)}(function(){n.css("max-height",n.data("oHeight"))}),t.addClass("open")}else n.animate({"max-height":n.data("oHeight")},r.transitionSpeed,function(){n.css({"max-height":"none"})}),t.addClass("open")}function v(){var t=!!r.singleOpen&&0<n.parents(r.groupElement).length;f(s),t&&function(t){t.closest(r.groupElement);var n=t.siblings("[data-accordion]").filter(".open"),e=n.find("[data-accordion]").filter(".open"),i=n.add(e);i.each(function(){var t=E(this),n=t.find(r.contentElement);g(t,n)}),i.removeClass("open")}(n),n.hasClass("open")?g(n,s):p(n,s)}s.each(function(){var t=E(this);0!=t.css("max-height")&&(t.closest("[data-accordion]").hasClass("open")?(l(),f(t),t.css("max-height",t.data("oHeight"))):t.css({"max-height":0,overflow:"hidden"}))}),n.attr("data-accordion")||(n.attr("data-accordion",""),n.find(r.controlElement).attr("data-control",""),n.find(r.contentElement).attr("data-content","")),t.on("click",v),t.on("accordion.toggle",function(){if(r.singleOpen&&1<t.length)return!1;v()}),t.on("accordion.refresh",function(){u(n)}),E(H).on("resize",(e=function(){u(n)},function(){var t=this,n=arguments;o?clearTimeout(o):a&&e.apply(t,n),o=setTimeout(function(){a||e.apply(t,n),o=null},i||100)}))},E.fn[e]=function(t){return this.each(function(){E.data(this,"plugin_"+e)||E.data(this,"plugin_"+e,new n(this,t))})}}(jQuery,window,document);</script>
 <style>
   /*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */

/* Requirements */

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */

[data-accordion] {
    line-height: 1;
}

[data-control]{
  border-bottom: solid 1px rgba(255,255,255,0.8);
    padding: 10px;
    opacity:0.6;
    transition:opacity 0.2s;
    text-align: center;
}

[data-control]:hover{
    opacity: 0.8;
}
.open [data-control]{
    opacity:1;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}
[data-content]>*{
  padding:12px 12px 0px 12px;
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg); 
    -ms-transform: rotate(-180deg); 
    transform: rotate(-180deg); 
}
 </style>
            <div class="firstgradient"></div>
            <div class="secondgradient"></div>
        <style>
        @font-face {
            font-family: 'courier_primeregular';
            src: url('/webfonts/courier-prime-webfont.woff2') format('woff2'),
                 url('/webfonts/courier-prime-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body{
            background:black;
        }
        .firstgradient{
            background: url(/images/noisetexture.png), linear-gradient(45deg, rgb(39, 56, 47) 0%, rgb(1, 7, 36) 100%);
        }
        h1{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:58px;
            margin-bottom: -12px;
            color:rgba(255,255,255,0.8);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        h2{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:16px;
            margin-top:0;
            opacity: 1;
            color:rgba(255,255,255,0.5);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        h3{
            font-family: 'courier_primeregular', 'Courier New', Courier, monospace;
            font-weight: normal;
            text-align: center;
            font-size:16px;
            opacity: 1;
            margin-top: 24px; 
            color:rgba(255, 255, 255, 0.75);
            text-shadow: 0px 0px 12px rgb(144, 255, 218);
        }
        .holy-text{
            margin-top:24px;
        }
        .holy-text::before {
            color: rgba(255, 255, 255, 0.15);
        }
        .holy-text::after {
            color: rgba(255, 255, 255, 0.15);
        }
        </style>
        <section>
            <h1 class="article title">2035</h1>
            <h2>[working title]</h2><br><br>
        </section>
        <h3>[producer's statement]</h3>
        <section class="holy-text">
                <p>We would like to welcome you on board of this year’s new project. We are very excited to be making 2035 and to work with all of you. Filmmaking is a collaborative art like few others and each and every one of you is part of it. Big or small your role may be, it is crucial to the creation of this  film. You are crucial to the creation of this film. We have complete trust in 2035’s crew and are convinced it will be a great production.</p>
                <p>It is not all about the final project however, and AUFS Productions is first and foremost a beautiful experience. We will be sharing good times and bad times and grow together as filmmakers.</p>
                <p>Please feel free to come to us if you're ever feeling overwhelmed or need to raise any issues. We want this to be the most fulfilling experience possible.</p>
                </p><blockquote target="_blank">Mark and Sofia<a>AUFS Productions Manager, Producer</a></blockquote>
        </section>
        <h3>[director's statement]</h3>
        <section class="holy-text">
                <p>In June 2019, I directed a short film called 2035. The film was very similar to this one. It was set in a post-apocalyptic world and the story saw a young woman trying to survive in the wasteland that earth had become. My crew consisted of two people and an actress. We shot almost the entire film at four in the morning at the beach. We were freezing because of the wind, walking in the sea to get perfect shots, and very tired because of the early hours. When we happily finished, excited to see the results on a bigger screen, we found out that the memory card had been corrupted. Unable to fix it, none of us has ever seen the footage. As a filmmaker, you can imagine our frustration. 
                    </p>
                <p>In my life, I believe everything happens for a reason, and so I did then. Today, I understand even better because here we are. A crew of thirty-one people; a team that works on a project of the same name and the same synopsis, going on this massive adventure together. This film is the largest and most ambitious project undertaken by AUFS Productions. But it is also a great opportunity for each one of us to give away our passion for storytelling and filmmaking. I hope you are all just as excited as I am to bring this story to life, and create something meaningful and something we all will be proud of when we finish. </p>
                </p><blockquote target="_blank">Karolína Smolová<a>The Director</a></blockquote>
        </section>
        <h3>[the social and political background]</h3>
        <section>
                <p>Why did the wall fall apart?</p>
                <ul>
                    <li>Global warming</li>
                    <li>Migration</li>
                    <li>Crop failures and famine</li>
                    <li>No more oil</li>
                    <li>Extreme weather pollution (air, water, and land)/li>
                    <li>Deforestation</li>
                    <li>Mass extinction</li>
                    <li>Nuclear war broke out</li>
                    <li>Lack of medicine</li>
                </ul>
                <p>
                        There is still some form of government but it is not what it once was. It is run by on military-
                        based system. Their aims are to defend the country from foreign attack and to ensure there
                        is enough food to go around. However, the bombing continues and everyday new cities are
                        destroyed. The nuclear bombs only lasted for six months but their damage is done. The
                        environment is radioactive and uninhabitable for most animals. This led to crop failures
                        which in turn led to food shortages across the world. The government introduced rationing in
                        2027 but there was no solution to increase land productivity. International trade is at a
                        minimum, shipping food has been replaced by shipping people as the migrant trade is far
                        more profitable.</p>
                        <p>
                        The British Government in London was destroyed in the 2032 bombings - Scotland relies on
                        the ‘Edinburgh Organisation’ as they control everything north of the border. They were not
                        democratically elected but took control. There is no rebellion against the Edinburgh
                        Organisation. Not yet. They have kept the peace within Scotland but the chaos to the south
                        will likely cross into Scotland before long.
                </p>
        </section>
        <h3>[the crew]</h3>
        <section>
                <style>
                        .crew{
                            justify-content: center;
                            flex-wrap: wrap;
                        }
                        .crewmember{
                            display: block;
                        }
                        .crew .details h3{
                            text-align: left;
                            margin-top:0;
                            margin-bottom: 0;
                            font-family: Montserrat;
                        }
                        .crewmember{
                            padding: 16px;
                            position: relative;
                            min-height: 72px;
                        }
                        .crewmember img{
                            display: block;
                            width: 72px;
                            height: 72px;
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow: 0px 0px 12px rgba(144, 255, 218, 0.335);
                            margin:auto;
                            position: absolute;
                            top:12px;
                            left:12px;
                        }
                        .crewmember .role{
                            font-weight: bold;
                            font-size: 16px;
                            text-shadow: 0px 0px 12px rgb(144, 255, 218);
                            margin-left: 82px;
                            margin-bottom: 2px;
                        }
                        .crewmember .name{
                            font-weight: 300;
                            opacity: 0.8;
                            text-shadow: 0px 0px 12px rgb(144, 255, 218);
                            margin-left: 82px;
                            text-decoration: none;
                        }
                        .crewmember .name a{
                            text-decoration: none;
                        }
                        .crewmember .name a:hover{
                            text-decoration: underline;
                        }
                        .crewmember .description{
                            font-size: 11px;
                            margin-top:4px;
                            margin-bottom: 0;
                            margin-left: 82px;
                        }
                        .crewmember p.description {
                            color: rgba(255,255,255,0.8);
                        }
                        .crewmember li{
                            color: rgba(255,255,255,0.6);
                            margin-top: 4px;
                            line-height: 13px;
                        }
                        .crewmember .details{
                            align-self: center;
                            max-width: 192px;
                            margin:auto;
                        }
                        .timeline{
            margin-top:24px;
            margin-bottom: 24px;
            position:relative;
            display:inline-block;
            width:50%;
          }
        .leftsection{
          position: absolute;
          height:100%;
          width:11ch;
          border-right: solid 2px rgb(87, 125, 164);
        }
        .timelinecontainer{
          display:flex;
          align-items: center;
          flex-wrap: wrap-reverse;
        }

        .timelineindicator{
          position:absolute;
          bottom:0;
          width:2px;
          right:-2px;
          background-color:white;
        }
        .leftsection .date{
          font-size:12px;
          position: absolute;
          text-align: right;
          right:12px;
          color:rgb(142, 167, 193);
          height: 0px;
        }
        .leftsection .datetext{
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .leftsection .date.past{
          color:rgb(87, 125, 164);
        }
        .leftsection .date::after{
          content:"";
          position:absolute;
          width:12px;
          right:-19px;
          height:1px;
          top:0px;
          background-color:white;
        }
        .leftsection .date.past::after{
          background-color:rgb(87, 125, 164);
        }
        .rightsection{
          display: inline-block;
          position: absolute;
          left:11ch;
          width:calc(100% - 11ch);
          height:100%;
        }
        .rightsection .event{
          position: absolute;
          text-align: left;
          left:12px;
          font-weight: 500;
          font-size:14px;
          height:0px;
        }
        .rightsection .eventtext{
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .rightsection .event.past{
          color: rgb(87, 125, 164);
        }

        .anticipationtext{
          font-size:15px;
          margin-top:12px;
          font-style: italic;
          max-width:45%;
          min-width:200px;
          align-self:stretch;
        }
        @media only screen and (max-width: 500px){
          .timeline{
            width: 100%;
          }
          .anticipationtext{
            max-width: 100%;
          }
          .anticipationtext>div{
            margin-top:0 !important;
          }
        }
        .film-poster{
          overflow: hidden;
        }
        .film-poster img{
          transition:all 0.2s;
        }
        .film-description{
          transition:all 0.2s;
        }
                    </style>
                        <div class="crew">
                                <div class="crewmember" style="flex-basis: 40%">
                                    <div class="role">AUFS Productions Manager</div>
                                    <img src="https://graph.facebook.com/100008924199121/picture?type=normal">
                                        <div class="name"><a href="https://www.facebook.com/profile.php?id=100008924199121" target="_blank">Mark Webb</a></div>
                                        <p class="description">The liaison between AUFS Productions and the AUFS Committee. Responsible for:</p>
                                        <ul class="description">
                                            <li>Organising general meetings in coordination with everyone in AUFS Productions</li>
                                            <li>Taking up the slack of any departments or individuals that are struggling + pushing the project forward if it gets disorganised                                                </li>
                                            <li>Fulfilling any roles that either no-one else can fill or would be convenient to be filled quickly                                                </li>
                                            <li>Dealing with complaints over the management of the film project
                                                </li>
                                            <li>Dealing with disputes arising among heads of department.</li>
                                            <li>Will be credited as Executive Producer in the final project</li>
                                        </ul>
                                </div>
                            <div class="crewmember" style="flex-basis: 40%">
                                <div class="role">Producer</div>
                                <img src="https://graph.facebook.com/1675945694/picture?type=normal">
                                    <div class="name"><a href="https://www.facebook.com/sofia.s.ferrara.5" target="_blank">Sofia Ferrara</a></div>
                                    <p class="description">Most important non-creative role on set. Head of the production departement.</p>
                                    <ul class="description">
                                        <li>Assembling and adminstering the necessary funds, and overseeing the project as a whole.</li>
                                        <li>The producer has the ultimate say in an artistic dispute betweem, for example, a principal actor and the director.</li>
                                        <li>Leading the production department consisting of assistant producer, PM, production secretary, and assistant directors.</li>
                                        <li>Organize shooting schedules - dependent on the type of producer role and availability of support staff</li>
                                        <li>Holding regular meetings with the director to discuss characters and scenes</li>
                                        <li>Acting as a sounding board for the director</li>
                                        <li>Troubleshooting problems which arise during production</li>
                                        <li>Ensuring compliance with relevant regulations, codes of practice, and heath and safety laws.</li>
                                        <li>Supervising the progress of the project from production through to post-production</li>
                                        <li>Delivering the finished production on time and to budget</li>
                                    </ul>
                            </div>
                            
                            <div class="crewmember" style="flex-basis: 40%">
                                <div class="role">Director</div>
                                <img src="https://graph.facebook.com/100001930236994/picture?type=normal">

                                    <div class="name"><a href="https://www.facebook.com/karolina.smolova" target="_blank">Karolína Smolová</a></div>
                                    <p class="description">As head of all creative aspects of the film, Karolina is responsible for directing the cast and crew in order to translate the idea of 2035 into the best short film we can possibly achieve.</p>
                                    <ul class="description">
                                        <li>Writing or working with the writers</li>
                                        <li>Reading the script and working on it's continued developement</li>
                                        <li>Envisioning the film's scope, purpose, identity, and meaning</li>
                                        <li>Drawing a storyboard</li>
                                        <li>Supervising the locations scouting process</li>
                                        <li>Auditioning and casting actors</li>
                                        <li>Ultimately responsible for creative decisions</li>
                                        <li>Motivating actors to produce their best dramatic performance</li>
                                        <li>Developing both cast and script through rehearsals</li>
                                        <li>Coordinating with camera crew, art directors, costume designers, and composers in order to ensure a consistent creative execution</li>
                                        <li>Managing conflict on set</li>
                                        <li>Directing actors and crew during shooting</li>
                                        <li>Supervising the editing and finalization of the project</li>
                                        <li>Promoting the production in festivals and other circuits</li>
                                    </ul>
                            </div>
                        </div>
                        <div data-accordion class="accordion">
                                <div data-control="">PRODUCTION</div>
                                    <div data-content>
                                        <div class="crew">
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Assistant Producer</div>
                                                <img src="https://graph.facebook.com/100006415428824/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100006415428824" target="_blank">Zuzanna Piekarska</a></div>
                                                    <p class="description">The Assistant Producer helps the producer carry out their wide variety of tasks.</p>
                                                    <ul class="description">
                                                        <li>Figure of relief within the production department</li>
                                                        <li>Taking notes during production meetings</li>
                                                        <li>Carries out bookings, fills out permission forms and other logistical planning of minor repsonsibility</li>
                                                        <li>Supports the producer in communicating with the rest of the film crew</li>
                                                        <li>Supports the AD in preparing and delivering daily call sheets</li>
                                                        <li>Acts on behalf of the producer if the latter is concerned with a different task</li>
                                                    </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Assistant Director</div>
                                                <img src="https://graph.facebook.com/100001242516507/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100001242516507" target="_blank">Elijah Venter</a></div>
                                                    <p class="description">The assistant director tracks daily progress against the filming production schedule, arranges logistics, prepares daily call sheets, checks cast and crew, and maintains order on the set. They are also responsible for the health and safety of the crew.</p>
                                                    <ul class="description">
                                                        <li>All the legworkand logistical planning of the production. Their skills are organizational rather than artistic and lean toward produciton management</li>
                                                        <li>Scheduling for shoots</li>
                                                        <li>Preparing daily call sheets and delivering them to the crew and actors</li>
                                                        <li>Tracking daily progress against the production schedule planning</li>
                                                        <li>Communicating the daily schedules to the crew</li>
                                                        <li>Making sure everyone on set knows what is happening and knows what to do</li>
                                                        <li>Arranging locations and permits</li>
                                                        <li>Getting the right people to the right place, and making sure everyone does their work</li>
                                                        <li>Maintaining order on set</li>
                                                        <li>Coordinating props, wardrobe, hairdressing, and make-up personnel</li>
                                                        <li>Contacting, Reminding</li>
                                                        <li>Acquiring information</li>
                                                        <li>Calling artists</li>
                                                        <li>Herding crowds</li>
                                                        <li>Barking orders in a big voice for the director</li>
                                                    </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Location manager</div>
                                                <img src="https://graph.facebook.com/100004792718620/picture?type=normal">
    
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100004792718620" target="_blank">Duncan Currie</a></div>
                                                    <p class="description">The location manager is in charge of scouting and finding the filming locations which best suit the director's vision, securing all the permits required to film; they must also inform the local community and handle all other location-related logistics.</p>
                                                    <ul class="description">
                                                        <li>Assessing and interpreting scripts or storyboards to get an understanding of the location required</li>
                                                        <li>Visiting and photographing locations appropriate to budget in order to assess their suitability</li>
                                                        <li>Making preliminary enquiries regarding access, parking, and location use</li>
                                                        <li>Collating practical information on potential locations</li>
                                                        <li>Liaising with key members of the production team to assess visual and technical specifications</li>
                                                        <li>Ensuring no disruptive noises or events are likely to occur during the shoot</li>
                                                        <li>Negotiating access and drawing up a contract with location owners</li>
                                                        <li>Organising permissions for access, for example with local authorities and law enforcement</li>
                                                        <li>Ensuring the technical specifications for equipement, power sources, and crew accomodation on site are met</li>
                                                        <li>Distributing maps and directions to locations, often known as movement orders, to ensure all services and crews reach the locations as directly, safely, and quickly as possible</li>
                                                        <li>Providing all relevant support information to all services and crew</li>
                                                        <li>Managing the location on the day and resolving practical or people-related problems as they arise</li>
                                                        <li>Dealing with members of the public who may intrude upon a shooting location</li>
                                                        <li>Employing Production Assistants who will supervise the location during shooting so no members of the public enters the set</li>
                                                        <li>Ensuring the final clearing up ("the wrap") runs smoothly and thanking site owners</li>
                                                    </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Continuity supervisor</div>
                                                <img src="https://graph.facebook.com/100007449061269/picture?type=normal">
    
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100007449061269" target="_blank">Caitlin Jones</a></div>
                                                    <p class="description">Being on set and ensuring that the script can be cut together</p>
                                                    <ul class="description">
                                                        <li>Assisting the director by ensuring there is adequate coverage of each scene, and when time or resources must be saved, is able to define what can be omitted or shortened.</li>
                                                        <li>Making sure that at the end of the day the film can be cut together</li>
                                                        <li>Make notes on audio tracks</li>
                                                        <li>Monitor script during shooting: make sure there are no errors in continuity</li>
                                                    </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Social Media manager</div>
                                                    <img src="https://graph.facebook.com/100003037920316/picture?type=normal">
        
                                                        <div class="name"><a href="https://www.facebook.com/profile.php?id=100003037920316" target="_blank">Wiki Korbecka</a></div>
                                                        <p class="description">The social media manager is in charge of the film's online presence; it is mainly an advertising job, focused around attempting to generate hype and interest around the film before it is even released.</p>
                                                    <ul class="description">
                                                        <li>Developing a social media strategy and setting goals to increase brand awareness and increase engagement</li>
                                                        <li>Managing all social media channels such as Facebook, Instagram, etc...</li>
                                                        <li>Planning content and delivery</li>
                                                        <li>Developing and managing competitions and campaigns which promote the production</li>
                                                        <li>Creating engaging content and/or outsourcing this efficiently</li>
                                                        <li>Forming key relationships with influences and brands across social media platforms</li>
                                                        <li>Managing and facilitating social media communities by responding to social media posts and developing discussions</li>
                                                        <li>Being present to all importnat meetings and events, and making sure they are covered on social media</li>
                                                        <li>Developing a strategy for the crowdfunding campaign</li>
                                                        <li>Maintaining the crowdfunding campaign - collaborates with producer and production manager</li>
                                                    </ul>
                                                </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Social Media Assistant</div>
                                                    <img src="https://graph.facebook.com/100007672485608/picture?type=normal">
        
                                                        <div class="name"><a href="https://www.facebook.com/profile.php?id=100007672485608" target="_blank">Nahuel Calzado Chaui</a></div>
                                                        <p class="description">The social media assistant helps the social media manager carry out their tasks.</p>
                                                    
                                            </div>
       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div data-accordion class="accordion">
                            <div data-control="">STORY</div>
                                <div data-content>
                                    <div class="crew">
                                        <div class="crewmember" style="flex-basis: 40%">
                                            <div class="role">Head of story</div>
                                            <img src="https://graph.facebook.com/100001433860080/picture?type=normal">

                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100001433860080" target="_blank">Abigail Liscoe</a></div>
                                                <p class="description">The head of story is in charge of the overall direction, plot, universe, and screenplay of 2035.</p>
                                                <ul class="description">
                                                    <li>Developing and researching ideas for the film</li>
                                                    <li>Creating an initial framework, or treatement</li>
                                                    <li>Giving only detailed information and facts about the story</li>
                                                    <li>Delivering character descriptions</li>
                                                    <li>Conducting research and study about the storyline to make it more realistic and important</li>
                                                    <li>Giving a valuable story that will serve as a great inspiration to the viewers</li>
                                                </ul>
                                        </div>
                                        <div class="crewmember" style="flex-basis: 40%">
                                            <div class="role">Screenwriter</div>
                                            <img src="https://graph.facebook.com/100000967330410/picture?type=normal">

                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100000967330410" target="_blank">Wiktoria Julia Łukasiewicz</a></div>
                                                <p class="description">The screenwriter is there to help develop and translate the story into a script which will work for the screen.</p>
                                                <ul class="description">
                                                    <li>Writing or adapting the story into script form</li>
                                                    <li>Collaborating together with the head of story</li>
                                                    <li>Writing in accordance to the vision and instruction of the producers and directors</li>
                                                    <li>Creating the dramatic structure of the screenplay, ensuring that it has a 1st, 2nd, and 3rd act.</li>
                                                </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-accordion class="accordion">
                                <div data-control="">ART</div>
                                    <div data-content>
                                        <div class="crew">
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Production Designer</div>
                                                <img src="https://graph.facebook.com/100004280523389/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100004280523389" target="_blank">Darta Franceska Rikarde</a></div>
                                                <p class="description">The production designer is responsible for creating the visual appearance of the film – settings, costumes, character makeup, all taken as a unit. The production designer works closely with the director and the director of photography to achieve the look of the film.</p>
                                                <ul class="description">
                                                    <li>Managing the art departement</li>
                                                    <li>Designing everything in the film's environment so it effectively interprets the screenplay</li>
    <li>Overseeing props and costumes, as well as designing all aspects of sets and locations</li>
    <li>Researching the theme and its social customs to ensure that costumes and decor are accurate and impactful.</li>
    <li>On a low-budget movie the art director will do his or her own sketching and set dressing.</li>
    <li>Facilitating the director's creative vision for all the locations and sets that eventually give the film its unique visual identity and collaborates with the art crew to find a solution for it</li>
    <li>The Production Designer is responsible for the art department budget and schedule of work, and help the art crew maximize the money allocated to the department. </li>
    <li>The production designer must find practical solutions to creative problems while simultaneously monitoring the budget, this is highly skilled work. </li>
                                                </ul>
                                            </div>
                                            <div class="crewmember">
                                                    <div class="role">Art Crew</div>
                                                    <img src="https://graph.facebook.com/1735017051/picture?type=normal">
                                                    <img style="top:92px;" src="https://graph.facebook.com/1776314523/picture?type=normal">
                                                    <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=1735017051" target="_blank">Erika Friman</a></div>
                                                    <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=1776314523" target="_blank">Saara Emilia Hämäläinen</a></div>
                                                    <p class="description" style="margin-top:6px;">The art crew collaborate with the production designer, to achieve the same .</p>
                                                    <ul class="description">
                                                        <li>Creating sets and adapting physical locations to match the visual theme, mood and tone developed by the production designer and director</li>
                                                        <li>Collaborating with the production designer to produce sketches and moodboards for sets/locations (detailling atmosphere, lighting, composition, colour, texture)</li>
                                                        <li>Preparing a list of necessary materials, props, tools, and sourcing or creating them (in collaboration with property master)</li>
                                                        <li>Coming up with cost-effective solutions</li>
                                                        <li>Dressing and dismantling (striking) sets</li>
                                                        <li>Ensuring visual and narrative continuity</li>
                                                    </ul>
                                                </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Property Master</div>
                                                <img src="https://graph.facebook.com/100012676203625/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100012676203625" target="_blank">Sadie Purves</a></div>
                                                <p class="description">In charge of all props</p>
                                                <ul class="description">
                                                    <li>Locating, storing, and maintaining properties (objects such as ashtrays, baby toys, or grand pianos that dress the set)</li>
                                                    <li>Knowing where all the props are at all times, and are brought on set when needed</li>
                                                </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Wardrobe Supervisor</div>
                                                <img src="https://graph.facebook.com/100041272623628/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100041272623628" target="_blank">Daniel Erland</a></div>
                                                <p class="description">The Wardrobe supervisor is the head of the costume departement.</p>
                                                <ul class="description">
                                                    <li>Collaborating with the production designer to create costumes for each character that reflect their personality and situation in the screenplay.</li>
                                                    <li>Locating, storing, and maintaining costumes</li>
                                                    <li>Knowing where all the costumes are at all times, and are brought on set when needed</li>
                                                    <li>Making sure each actor's costume is okay on set</li>
                                                    <li>Fixing costumes if needed</li>
                                                </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Costume Designer</div>
                                                    <img src="https://graph.facebook.com/100000967330410/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100000967330410" target="_blank">Wiktoria Julia Łukasiewicz</a></div>
                                                    <p class="description">The costume designer is there to... design costumes.</p>
                                                    <ul class="description">
                                                        <li>Closely collaborating with the wardrobe supervisor on developing costumes for each character in the film</li>
                                                        <li>Helping with sourcing costumes</li>
                                                        <li>Helping the wardrobe supervisor with locating, storing and maintaining costumes</li>
                                                        <li>Being present on the set and ensuring that all costumes are accurate as planned in the pre-production</li>
                                                        <li>Fixing costumes if needed</li>
                                                    </ul>
                                                </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Key make-up artist</div>
                                                    <img src="https://graph.facebook.com/100001602116697/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100001602116697" target="_blank">Olivia Duffy</a></div>
                                                    <p class="description">The key makeup artist is the department head that answers directly to the director and production designer. They are responsible for planning makeup designs for all leading and supporting cast.</p>
                                                    <ul class="description">
                                                        <li>The appropriate physical appearance in face and hair, often needing careful attention to period details. </li>
                                                        <li>A hidden part of the job is catering to actors’ insecurities by helping them believe in the way they look. Where the character demands negative traits, the make-up artist may have to work against an actor’s resistance.</li>
                                                        <li>Make-up is particularly tricky; shoot tests to ensure makeup is credible and compatible with color stock and any special lighting.</li>
                                                    </ul>
                                                </div>
                                                <div class="crewmember" style="flex-basis: 40%">
                                                        <div class="role">Production Assistant</div>
                                                        <img src="https://graph.facebook.com/100002431624721/picture?type=normal">
                                                            <div class="name"><a href="https://www.facebook.com/profile.php?id=100002431624721" target="_blank">Nimaj Napierała</a></div>
                                                            <p class="description">A Production Assistant carries out various miscellaneous tasks, and is there to help out whenever help is needed (and on a set, that's all the time!)</p>
                                                            <ul class="description">
                                                                <li>Figure of relief within the art department</li>
                                                                <li>Fetch and carry items such as props, costumes, make-up, and other</li>
                                                                <li>Help prepare actors and extras for a shoot</li>
                                                                <li>Help keep the set clean, tidy, and organized</li>
                                                                <li>Support the prop master in keeping track of the props</li>
                                                                <li>Support the costumer supervisor in keeping track of the costumes</li>
                                                                <li>Work as messenger within the set</li>
    
                                                            </ul>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div data-accordion class="accordion">
                            <div data-control="">CAMERA</div>
                                <div data-content>
                                    <div class="crew">
                                        <div class="crewmember" style="flex-basis: 40%">
                                            <div class="role">Director of Photography</div>
                                            <img src="https://graph.facebook.com/100013606031236/picture?type=normal">
                                                
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100013606031236" target="_blank">Piers Deseilligny</a></div>
                                                <p class="description">As head of the camera and lighting departement, the director of photography is responsible for the technical and artistic decisions relating to the image, in accordance with the director.</p>
                                            <ul class="description">
                                                <li>All aspects of cinematography or videography. The most important crew member after the director, and responsible for the look of the film. He or she collaborates closely with the director and makes all decisions about camera, lighting, and equipement which contribute to camerawork</li>
                                                <li>Specifying the lighting and camera equipement, lenses, filmstock, or their video equivalents</li>
                                                <li>Leader of the crew's work while the director concentrates on the actors</li>
                                                <li>Responsible for selection (and on a low-budget film, testing and adjusting) of the camera and lighting equipement, and knowing it's working principles</li>
                                                <li>Responsible when the crew is small for reconoitering each location in advance with the fagger to assess electrical supplies and lighting design.</li>
                                                <li>The person who decides and supervises the placement of lighting instruments</li>
                                                <li>Being supervisor of the camera and lighting crews</li>
                                                <li>Keep track of the shot list on set</li>
                                            </ul>
                                        </div>
                                        <div class="crewmember" style="flex-basis: 40%">
                                            <div class="role">Assistant Director of Photography (Camera operator)</div>
                                            <img src="https://graph.facebook.com/100010156180587/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100010156180587" target="_blank">Miguel de la Cal Moreno</a></div>
                                                <p class="description">The Camera Operator works with the Director of Photography, by physically operating the camera rig.</p>
                                            <ul class="description">
                                                <li>Every aspect of handling the camera, which means deciding on camera positioning (in collaboration with the director) and physically controlling framing and all camera movements.</li>
                                                <li>Everything concerning the camera: keeping the camera optics and film gate clean and manhandling the camera from place to place</li>
                                            </ul>
                                        </div>
                                        <div class="crewmember">
                                            <div class="role">Lighting technicians</div>
                                            <img src="https://graph.facebook.com/100003798623169/picture?type=normal">
                                            <img style="top:92px;" src="https://graph.facebook.com/100006254206320/picture?type=normal">
                                            <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100003798623169" target="_blank">Harry Stewart</a></div>
                                            <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100006254206320" target="_blank">Lucía Iglesias Muñoz</a></div>
                                            <p class="description" style="margin-top:6px;">The lighting techs assists with the powering, placement, and overall maintenance of the lighting equipement.</p>
                                            <ul class="description">
                                                <li>Being on set and making sure all the lighting is set up according to plan</li>
                                                <li>Learning the terminology and different lighting techniques (it will be very important during this project)</li>
                                                <li>Making sure all the lights are charged and ready to shoot</li>
                                            </ul>
                                        </div>
                                        <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Digital Imaging Technician</div>
                                                <img src="https://graph.facebook.com/100007957326818/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100007957326818" target="_blank">James Strachan</a></div>
                                                    <p class="description">The DIT is responsible for managing, transferring, securing, and backing up all the digital data acquired on-set. They must keep track of where the footage and audio is stored, and ensure that the editors have the files they need in order to edit together the dailies, and later, the film.</p>
                                                <ul class="description">
                                                    <li>Make sure that all footage is transferred from the camera and backed up</li>
                                                    <li>Make sure that all audio data is transferred from the recorder and backed up</li>
                                                    <li>Make notes of the audio tracks</li>
                                                    <li>Regularly synchronize the timecode across all the equipment</li>
                                                    <li>Make sure that the location of each individual video and audio file is known and easily accesible</li>
                                                </ul>
                                            </div>
                                            <div class="crewmember">
                                                    <div class="role">Audio technicians</div>
                                                    <img src="https://graph.facebook.com/100004929522684/picture?type=normal">
                                                    <img style="top:92px;" src="https://graph.facebook.com/100001521232627/picture?type=normal">
                                                    <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100004929522684" target="_blank">Adam Fraser</a></div>
                                                    <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100001521232627" target="_blank">Emily Scott</a></div>
                                                    <p class="description" style="margin-top:6px;">>The on-set sound engineers are in charge of recording audio on-set. During shooting, one of them is a production sound mixer, in charge of actually handling the audio recording, and the other is the boom operator, in charge of holding a boom pole as close as possible to the actors without it being in frame.</p>
                                                    <ul class="description">
                                                            <li>Capturing quality, clear, clean, and consistent sound</li>
                                                            <li>It is the sound mixer's responsibility to check sound equipement in advance and solve problems as they arise</li>
                                                            <li>The boom operator's job is to place the microphone as close to sound sources as possible without getting it in the shot or creating shadows. In a complicated dialogue scene, this requires moving the mic around to catch each new speaker</li>
                                                            <li>In an interior setup, lighting and camera position are determined first, and the boom operator is expected to somehow position the mic without it being seen or causing shadows, and without losing sound quality.</li>
                                                            <li>Exterior location shooting is often the most troublesome because background sound levels are uncontrollable and any hope of getting the best quality is usually compromised by a tight schedule</li>
                                                        </ul>
                                                </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Production Assistant</div>
                                                    <img src="https://graph.facebook.com/100001414076769/picture?type=normal">
                                                        <div class="name"><a href="https://www.facebook.com/profile.php?id=100001414076769" target="_blank">Connor McCausland</a></div>
                                                        <p class="description">A Production Assistant carries out various miscellaneous tasks, and is there to help out whenever help is needed (and on a set, that's all the time!)</p>
                                                        <ul class="description">
                                                            <li>Figure of relief within the camera department</li>
                                                            <li>Sort out the kit bags, for example checking that the camera bag contains all the necessary items</li>
                                                            <li>Fetch and carry items such as equipement, lights, cable, and scripts</li>
                                                            <li>Help set up a location for a shott</li>
                                                            <li>Help keep the set clean, tidy, and organized</li>
                                                            <li>Work as messenger within the set</li>

                                                        </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-accordion class="accordion">
                                <div data-control="">EDITORIAL</div>
                                    <div data-content>
                                        <div class="crew">
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Editor</div>
                                                <img src="https://graph.facebook.com/100000444402720/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100000444402720" target="_blank">Radeen Moncrieffe</a></div>
                                                <p class="description">The editor is responsible for selecting the shots and assembling them in a way which best conveys the emotion and story intended by the director.</p>
                                                <ul class="description">
                                                    <li>Supervising the assistant editors, and music composers</li>
                                                    <li>Reviewing the storyboard with the director and cinematographer to make sure that it is editable + eventually offers ideas how to improve it to make it more smooth.</li>
                                                    <li>Editing the official trailer</li>
                                                    <li>Editing the film: starting the editing when the footage is delivered from shoot, although the production is not finished yet</li>
                                                    <li>In case a promoting video for a crowdfunding campaign is needed, the head editor edits it with help of assistant editors</li>
                                                </ul>
                                            </div>
                                        <div class="crewmember">
                                                <div class="role">Assistant editors</div>
                                                <img src="https://graph.facebook.com/1176263424/picture?type=normal">
                                                <img style="top:92px;" src="https://graph.facebook.com/100007957326818/picture?type=normal">
                                                <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=1176263424" target="_blank">Mia Sommer</a></div>
                                                <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100007957326818" target="_blank">James Stracha</a></div>
                                                <p class="description" style="margin-top:6px;">The assistant editors aid the editor and director in collecting and organizing all the elements needed to edit the film.</p>
                                                <ul class="description">
                                                    <li>Creating dailies from the shoot</li>
                                                    <li>Sorting out the footage, so the editor does not need to watch everything and choose only things that are relevant</li>
                                                    <li>Collecting the behind the scenes footage</li>
                                                    <li>Creating behind the scene videos that can be used to attract people to join productions in the future and promote 2035.</li>
                                                    <li>Helping the head editor edit a promotional crowdfunding video</li>
                                                    <li>Helping the head editor edit the film</li>
                                                </ul>
                                            </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                    <div class="role">Colorist</div>
                                                    <img src="https://graph.facebook.com/100013606031236/picture?type=normal">
                                                    <div class="name"><a href="https://www.facebook.com/profile.php?id=100013606031236" target="_blank">Piers Deseilligny</a></div>
                                                    <p class="description">The colorist processes the footage once it has all been edited in order to transform the colors from the RAW footage into those most appropriate for the film's mood and tone, in collaboration with the director. It is the last job in post-production.</p>
                                                    <ul class="description">
                                                        <li>Color grading the footage after picture lock</li>
                                                        <li>Creating a 3DLUT to be used on set and in the editing process, which will aproximate the final look</li>
                                                        <li>Rendering the final cut, as a video file or as a Digital Cinema Package (if needed)</li>
                                                    </ul>
                                                </div>
                                            <div class="crewmember" style="flex-basis: 40%">
                                                <div class="role">Sound designer</div>
                                                <img src="https://graph.facebook.com/100004929522684/picture?type=normal">
                                                <div class="name"><a href="https://www.facebook.com/profile.php?id=100004929522684" target="_blank">Adam Fraser</a></div>
                                                <p class="description">The sound designer is in charge of all post-production sound of the film, which means acquiring, performing (Foley), editing, and mixing all the sound elements which will be present in the film.</p>
                                                <ul class="description">
                                                    <li>Providing any required sounds to accompany screen action (Foley). They work closely with the editor and the director to create original sound elements.</li>
                                                    <li>Editing/Fixing the audio tracks in the edit of the final film.</li>
                                                </ul>
                                            </div>
                                        <div class="crewmember">
                                                <div class="role">Composers</div>
                                                <img src="https://graph.facebook.com/100001180036255/picture?type=normal">
                                                <img style="top:92px;" src="https://graph.facebook.com/100010567357661/picture?type=normal">
                                                <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100001180036255" target="_blank">Mia Sommer</a></div>
                                                <div class="name" style="margin-top:4px;"><a href="https://www.facebook.com/profile.php?id=100010567357661" target="_blank">James Stracha</a></div>
                                                <p class="description" style="margin-top:6px;">Composing and recording music for the film</p>
                                                <ul class="description">
                                                    <li>Composing original music for the film</li>
                                                    <li>Developing a powerful leitmotif that will become a recognisable piece of the film</li>
                                                </ul><br><br><br>
                                            </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
        </section>

        <h3>[production schedule]</h3>
        <section>
                <% if(body.current.timeline.length>=2) {
                    var firstdate = body.current.timeline[0].date 
                    var currentdate = Date.now();
                    var timeSpan = body.current.timeline[body.current.timeline.length-1].date - firstdate;
                    var monthheight = body.current.monthheight;
                    var heightmultiplier = monthheight/2592000000;
                    var timelineheight = heightmultiplier*timeSpan;
                    function getDatePosition(date){
                      return (date-firstdate)*heightmultiplier;
                    }
    
                    var timelineindicatorHeight = (body.current.timeline[body.current.timeline.length-1].date - currentdate) * heightmultiplier;
                    if(timelineindicatorHeight<=0) timelineindicatorHeight = 0;
                    if(timelineindicatorHeight>=timelineheight) timelineindicatorHeight=timelineheight;
    
                    var currentAnticipation = "";
                    for(var i in body.current.timeline){
                      if(body.current.timeline[i].date>currentdate){
                        if(i==0){
                          //first event hasn't occured yet
                          currentAnticipation = body.current.timeline[i].anticipation;
                        }
                        else{
                          currentAnticipation = body.current.timeline[i-1].anticipation;
                        }
                        break;
                      }
                    }
                %>
                <div class="timelinecontainer">
                    <div class="timeline" style="height:<%= timelineheight %>px;">
    
                        <div class="leftsection">
                            <div class="timelineindicator" style="height:<%= timelineindicatorHeight %>px;"></div>
                          <% } %>
                          <% body.current.timeline.forEach(event=>{ %>
                                <div class="date <% if(currentdate>event.date) { %>past<% } %>" style="top:<%= getDatePosition(event.date) %>px;"><div class="datetext"><%= new Date(event.date).toLocaleDateString("en-US", { month:'long', day:'numeric'}) %></div></div>
                          <% }); %>
                        </div>
                        <div class="rightsection">
                            <% body.current.timeline.forEach(event=>{ %>
                              <div class="event <% if(currentdate>event.date) { %>past<% } %>" style="top:<%= getDatePosition(event.date) %>px;"><div class="eventtext"><%= event.description %></div></div>
                            <% }); %>
                        </div>
                    </div>
                    <% if(currentAnticipation) { %>
                      <div class="anticipationtext" >
                        <div style="margin-top:<%= timelineheight-timelineindicatorHeight %>px">
                            <%- currentAnticipation %>
                        </div>
    
                      </div>
                      <% } %>
                </div>
    
          </section>
        <h3>[sustainability]</h3>
        <p>AUFS Productions is committed to reducing its carbon footprint and granting the sustainability of its film productions. Due to the current climate emergency, fostered by the some of the themes 2035 briefly engages with, the production wants to clearly establish a set of goals that ensure the coherence of its environmental involvement.</p>
        <p>Therefore, budget permitting, AUFS Production will make an effort to enforce the following measures:</p>
        <ul>
            <li>Reuse old props and materials</li>
            <li>Source costumes and props from second charity shops and second hand stores (alternatively connect with producers of ethically made clothing)</li>
            <li>Engage with third parties that are also concerned with sustainability</li>
            <li>Grant a sustainable catering, including vegetarian and vegan options and focus on locally sourced food</li>
            <li>Reduce the use of plastic and paper in every stage of the production (including call sheets, documents and catering services)</li>
            <li>Encourage the consumption of tap water and reusable bottles</li>
            <li>Reduce waste and enforce a recycling disposal</li>
        </ul>
        <p>The producers and Heads of Department commit to abide to the above guidelines and ask everyone involved in the production to contribute to ensure the sustainability of the project. For any questions or suggestions on how to improve, get in contact with the producers.</p>
        <p>Thank you for the collaboration,</p>
        <p>Sofia Ferrara</p>
        <script>
$('.accordion').accordion({
"transitionSpeed": 200,
});
</script>
    </body>
</html>